
<page lang="en-US" link="#0000ff" dir="ltr">
<p align="justify" style="margin-right: 0.04in; margin-bottom: 0in; line-height: 110%">
<br>
</p>
<p align="justify" style="margin-left: 0.04in; margin-right: 0.04in; margin-bottom: 0in; line-height: 110%">
<font face="Cambria, serif"><font size="3" style="font-size: 12pt"><br><br>Date
: XX_DATE_XX </font></font>
</p>
<p align="justify" style="margin-left: 0.04in; margin-right: 0.04in; margin-bottom: 0in; line-height: 110%">
<br>
</p>
<p align="justify" style="margin-left: 0.04in; margin-right: 0.04in; margin-bottom: 0in; line-height: 110%">
<font face="Cambria, serif"><font size="3" style="font-size: 12pt"><i><b>TO
WHOM IT MAY CONCERN </b></i></font></font>
</p>
<p align="justify" style="margin-left: 0.04in; margin-right: 0.04in; margin-bottom: 0in; line-height: 110%">
<br>
</p>
<p align="justify" style="margin-right: 0.04in; margin-bottom: 0in; line-height: 110%"><a name="_GoBack"></a>
<font face="Cambria, serif"><font size="3" style="font-size: 12pt"><u><b>LETTER
OF INVITATION</b></u></font></font></p>
<p align="justify" style="margin-left: 0.04in; margin-right: 0.04in; margin-bottom: 0in; line-height: 110%">
<br>
</p>
<p style="margin-bottom: 0in; line-height: 100%"><font face="Cambria, serif"><font size="3" style="font-size: 12pt">WSO2Con
2014 brings together developers, architects, and directors who desire
to build Cloud-Native solutions, publish APIs, improve App delivery,
reach out to mobile apps, adopt DevOps processes, and achieve
integration agility. The WSO2Con agenda will feature leading
development best practices, expert architecture guidance, new WSO2
products, and opportunities to connect with your peers.</font></font></p>
<p style="margin-bottom: 0in; line-height: 100%"><br>
</p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font face="Cambria, serif"><font size="3" style="font-size: 12pt">WSO2
has invited Mr. XX_FULL_NAME_XX   (Passport number: XX_PASSPORT_NUM_XX )  from  </font></font><font face="Cambria, serif"><font size="3" style="font-size: 12pt">
XX_ORG_NAME_XX,</font></font><font face="Cambria, serif"><font size="3" style="font-size: 12pt">
to attend the conference, which is scheduled to take place in San
Francisco , USA from 27</font></font><sup><font face="Cambria, serif"><font size="3" style="font-size: 12pt">th</font></font></sup><font face="Cambria, serif"><font size="3" style="font-size: 12pt">
-29</font></font><sup><font face="Cambria, serif"><font size="3" style="font-size: 12pt">th</font></font></sup><font face="Cambria, serif"><font size="3" style="font-size: 12pt">
October 2014 </font></font>
</p>
<p align="justify" style="margin-right: 0.04in; margin-bottom: 0in; line-height: 110%; widows: 0; orphans: 0">
<font face="Cambria, serif"><font size="3" style="font-size: 12pt">more
information about WSO2Con USA :</font></font>
<font face="Cambria, serif"><font size="3" style="font-size: 12pt">http://us14.wso2con.com/</font></font></p>
<p align="justify" style="margin-right: 0.04in; margin-bottom: 0in; line-height: 110%; widows: 0; orphans: 0">
<br>
</p>
<p style="margin-bottom: 0in; line-height: 100%"><font face="Cambria, serif"><font size="3" style="font-size: 12pt"><b>The
Conference :</b></font></font></p>
<p style="margin-bottom: 0in; line-height: 100%"><font face="Cambria, serif"><font size="3" style="font-size: 12pt">27</font></font><sup><font face="Cambria, serif"><font size="3" style="font-size: 12pt">th</font></font></sup><font face="Cambria, serif"><font size="3" style="font-size: 12pt">
-29</font></font><sup><font face="Cambria, serif"><font size="3" style="font-size: 12pt">th</font></font></sup><font face="Cambria, serif"><font size="3" style="font-size: 12pt">
October 2014</font></font></p>
<p style="margin-bottom: 0in; line-height: 100%"><br>
</p>
<p style="margin-bottom: 0in; line-height: 100%"><font face="Cambria, serif"><font size="3" style="font-size: 12pt"><b>Venue:</b></font></font></p>
<p align="justify" style="margin-right: 0.04in; margin-bottom: 0in; line-height: 110%; widows: 0; orphans: 0">
<font face="Cambria, serif"><font size="3" style="font-size: 12pt">Mission
Bay Conference Center at UCSF</font></font></p>
<p align="justify" style="margin-right: 0.04in; margin-bottom: 0in; line-height: 110%; widows: 0; orphans: 0">
<font face="Cambria, serif"><font size="3" style="font-size: 12pt">1675
Owens Street</font></font></p>
<p align="justify" style="margin-right: 0.04in; margin-bottom: 0in; line-height: 110%; widows: 0; orphans: 0">
<font face="Cambria, serif"><font size="3" style="font-size: 12pt">San
Francisco, CA 94158</font></font></p>
<p align="justify" style="margin-right: 0.04in; margin-bottom: 0in; line-height: 110%; widows: 0; orphans: 0">
<font face="Cambria, serif"><font size="3" style="font-size: 12pt">(+1)
866-431-UCSF	</font></font></p>
<p align="justify" style="margin-right: 0.04in; margin-bottom: 0in; line-height: 110%; widows: 0; orphans: 0">
<font face="Cambria, serif"><font size="3" style="font-size: 12pt">	</font></font></p>
<p align="justify" style="margin-left: 0.04in; margin-right: 0.04in; margin-bottom: 0in; line-height: 110%">
<font face="Cambria, serif"><font size="3" style="font-size: 12pt">I
will be grateful if you could grant him/her  the requisite visa for
this essential conference. Should you require any further
information, please do not hesitate to contact me via email on
</font></font><a href="mailto:maryam@wso2.com">maryam@wso2.com</a><font face="Cambria, serif"><font size="3" style="font-size: 12pt">
</font></font>
</p>
<p align="justify" style="margin-left: 0.04in; margin-right: 0.04in; margin-bottom: 0in; line-height: 110%">
<br>
</p>
<p align="justify" style="margin-left: 0.04in; margin-right: 0.04in; margin-bottom: 0in; line-height: 110%">
<font face="Cambria, serif"><font size="3" style="font-size: 12pt">Thank
You,</font></font></p>
<p align="justify" style="margin-left: 0.04in; margin-right: 0.04in; margin-bottom: 0in; line-height: 110%">
<br>
</p>
<p align="justify" style="margin-left: 0.04in; margin-right: 0.04in; margin-bottom: 0in; line-height: 110%">
<font face="Cambria, serif"><font size="3" style="font-size: 12pt">Yours
Faithfully,</font></font></p>
<p align="justify" style="margin-left: 0.04in; margin-right: 0.04in; margin-bottom: 0in; line-height: 110%">
<br>
</p>
<p align="justify" style="margin-left: 0.04in; margin-right: 0.04in; margin-bottom: 0in; line-height: 110%">
<font face="Cambria, serif"><font size="3" style="font-size: 12pt">WSO2
LANKA (PVT) LIMITED.</font></font></p>
<p align="justify" style="margin-left: 0.04in; margin-right: 0.04in; margin-bottom: 0in; line-height: 110%">
<br>
</p>
<p align="justify" style="margin-right: 0.04in; margin-bottom: 0in; line-height: 110%">
<br>
</p>
<p align="justify" style="margin-left: 0.04in; margin-right: 0.04in; margin-bottom: 0in; line-height: 110%">
<font face="Cambria, serif"><font size="3" style="font-size: 12pt">Maryam
Cader </font></font>
</p>
<p align="justify" style="margin-left: 0.04in; margin-right: 0.04in; margin-bottom: 0in; line-height: 110%">
<font face="Cambria, serif"><font size="3" style="font-size: 12pt">Lead
 Human Resources &amp; Administration Officer</font></font></p>
</page>
